html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Space Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  background-color: hsl(185, 41%, 84%);
}

@media screen and (min-width: 900px) {
  body {
    align-items: center;
  }
}

* {
  box-sizing: border-box;
  font: inherit;
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::selection {
  background-color: hsl(185, 41%, 84%);
}
